#container{
    width:312px;
    margin: 0px auto;
}
#ust_grid{
    width:312px;
    height: 312px;
   
    margin: 0px auto;
    border:1px solid black;
}
#alt_grid{
    width:312px;
    height: 312px;
    
    margin: 10px auto;
    border:1px solid black;
}
#geriAl{
    float:left;
    width:80px; 
    height: 50px;
    text-align: center;
    cursor:pointer;
}
#reset{
    float:right;    
    width:80px; 
    height: 50px;
    text-align: center;
    cursor:pointer;
    
}